.methodSection
    background-color: #daf7a6
    .methods
        height: 93.9vh
        overflow-y: scroll
        &::-webkit-scrollbar
            display: none
        .met
            text-decoration: none
            color: black
            font-size: 1.5rem
            &:hover
                font-weight: bold
            
